* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

:root {
  --primary: #482a8f;
  --secondary: #f7f7f7;
  --tertiary: rgb(236, 122, 198);
}

body {
  background: #ededed;
  color: var(--grey);
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  padding: 10px;
}

.btn {
  background-color: var(--primary);
  color: var(--secondary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin: 10px 0;
}

.btn:hover {
  background-color: rgb(192, 51, 145);
}

.hide {
  display: none;
}
